body{
    color:white;
    background:black;
    margin:0px;
}
header{
   
    padding:20px;
    font-size:32px;
    color:white;
}

section{
    background:rgb(1, 23, 51);
    padding:10px 80px 80px 80px;
}